/*whole page settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}
body {
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
/* here(line12) through line 32 is for avatar position & label */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: grey; 
    justify-content: space-between;
}

header h1 {
    font-weight: bolder;
  
}

header img {
    max-height: 80%;
    max-width: 30%;
}

header a {
    text-decoration: none;
    color: black;
}

header nav {
    padding: 80px 0px;
    margin: 7px 0;
 
}
/*proper nav layout*/
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li {

    font-size: 36px;
    margin: 0 30px;
}
/*places main project center and on its own line, bigger than others*/
.first {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    border: 8px solid black;
    flex:1 100%;
}
/*places two secondary projects side by side*/
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex: 1 15%;
}
.row h3 {
    flex-wrap:2 5%;
}




/*come back to queries after figuring out flexbox layout issues*/



/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

  }
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
  
  }
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

    

  }